    
.intern-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}


.inner-intern{
  padding: 1em;
  background-color: rgb(171, 130, 218);
  
}
.intern-heading h2 {
  letter-spacing: 2px;
  font-size: 40px;
}

.intern-heading h2>span{
  color:#6200ff;
    text-shadow: 2px 2px 2px #7700ff;
}

.hover {
  color: #0000;
  background:
      linear-gradient(90deg, #4800bb 50%, #000 0) var(--_p, 100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.hover:hover {
  cursor: pointer;
  --_p: 0%;
  /* text-shadow: 5px 5px 5px #7700ff; */
}

.intern-heading img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.intern-heading img:hover{
  animation: moveUp 2s linear forwards;
  animation-iteration-count: 3;
}

@keyframes moveUp{
  0%{transform: translateY(0);}
  25%{transform: translateY(1em);}
  50%{transform: translateY(0);}
  75%{transform: translateY(-1em);}
  100%{transform: translateY(0);}
}
.project-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.card1, .card3 {
  background-color: white;
  color: #1a1a1a;
  display: block;
  width: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.5s box-shadow;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin: 1em;
}

.card1 img, .card3 img {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.hidden1, .hidden3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f005a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  color: white;
}

.hidden1 a, .hidden3 a{
  color: white;
}

.hidden2 a, .hidden4 a{
  color: black;
}

.card1:hover, .card3:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}

.card1:hover .hidden1, .card3:hover .hidden3 {
  height: 100%;
}


.card2, .card4 {
  background-color: #2f005a;
  color: white;
  display: block;
  width: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.5s box-shadow;
  text-align: center;
  border-radius: 15px;
  position: relative;
  margin:1em;
}

.card2 img, .card4 img {
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.hidden2, .hidden4 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  color: black;
}

article{
  font-size: 18px;
  padding:1em;
  font-weight: 600;
}

.card2:hover, .card4:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}

.card2:hover .hidden2, .card4:hover .hidden4 {
  height: 100%;
  bottom: 0;
}

ul li{
  font-size: 20px;
  list-style: none;
  line-height: 1.3;
}

a{
  margin-left: 5%;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

.hidden1 a:hover, .hidden3 a:hover{
  color:pink;
}

.hidden2 a:hover, .hidden4 a:hover{
  color: #8400ff;
}

.hide-component{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show-component{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


@media (max-width:768px){
  .intern-heading h2{
    font-size: 24px;
  }
  .card1,.card2, .card3, .card4{
    width: 100%;
    height: 400px;
  }
}

@media (min-width:1000px){
  .card1,.card2,
  .card3, .card4{
    width: 90%;
  }
}