    
.intern-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-intern{
  /* border: 1px solid black; */
  padding: 2em;
  background-color: rgb(226, 191, 255);
}

.inner-intern{
  border-radius: 15px;
  padding: 1em;
  
}
.intern-heading h2 {
  letter-spacing: 2px;
  font-size: 40px;
}

.intern-heading h2>span{
  color:#4700a3;
    text-shadow: 5px 5px 5px #a251ff;
}

.hover {
  color: #0000;
  background:
      linear-gradient(90deg, #4700a3 50%, #000 0) var(--_p, 100%)/200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.hover:hover {
  cursor: pointer;
  --_p: 0%;
  text-shadow: 5px 5px 5px #a251ff;
}

.intern-heading img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}


.project-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.card {
  background-color: white;
  color: #1a1a1a;
  display: block;
  width: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.5s box-shadow;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin: 1em;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.hidden {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f005a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  color: white;
}

.hidden a{
  color: white;
}

.hidden2 a{
  color: black;
}

.card:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}

.card:hover .hidden {
  height: 100%;
}


.card2 {
  background-color: #2f005a;
  color: white;
  display: block;
  width: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.5s box-shadow;
  text-align: center;
  border-radius: 15px;
  position: relative;
  margin:1em;
}

.card2 img {
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.hidden2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  color: black;
}

article{
  font-size: 18px;
  padding:1em;
  font-weight: 600;
}

.card2:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}

.card2:hover .hidden2 {
  height: 100%;
  bottom: 0;
}

ul li{
  font-size: 20px;
  list-style: none;
  line-height: 1.3;
}

a{
  margin-left: 5%;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

.hidden a:hover{
  color:pink;
}

.hidden2 a:hover{
  color: #8400ff;
}

@media (max-width:768px){
  .intern-heading h2{
    font-size: 24px;
  }
}

@media (min-width:1000px){
  .card,
  .card2{
    width: 80%;
  }
}