<div class="outer-intern" [ngClass]="{'hide-component':!isScrolled2450, 'show-component':isScrolled2450}">
    <div class="intern-heading">
        <img src="..\assets\images\portfolio.png" alt="">
        <h2 class="hover"><span>Internship </span>Portfolio</h2>
    </div>
    <div class="inner-intern" [ngClass]="{'hide-component':!isScrolled2500, 'show-component':isScrolled2500}">
        <div class="project-card">
            <div class="card1" [ngClass]="{'hide-component':!isScrolled2600, 'show-component':isScrolled2600}">
                <img src="..\assets\images\niq.webp" alt="Image">
                <h1>NielsenIQ (NIQ)</h1>
                <h3>Pune, India</h3>
                <div class="hidden1">
                    <a href="https://nielseniq.com/global/en/" target="_blank"><span>NielsenIQ</span></a>
                    <ul class="list">
                        <li class="skill-list">Java</li>
                        <li class="skill-list">Spring Boot</li>
                        <li class="skill-list">Angular</li>
                        <li class="skill-list">PostgreSQL</li>
                    </ul>
                    <article>
                        Part of backend team to manage Spring services, contributed to RESTful API
                        development, bug fixes, and database modifications.
                        Contributed to migration of Services from Netflix Zuul to Spring Cloud Gateway,
                        and development of two Angular components for frontend integration.
                        Extensively worked on Unit testing and significantly improved JUnit test coverage,
                        exceeding 90%, participated in Agile SDLC, participated in code reviews, and managed
                        JIRA tasks in cross-functional project teams.
                    </article>
                </div>
            </div>

            <div class="card2" [ngClass]="{'hide-component':!isScrolled2800, 'show-component':isScrolled2800}">
                <img src="..\assets\images\kizora.webp" alt="Image">
                <h1>Kizora Softwares</h1>
                <h3>Nagpur, India</h3>
                <div class="hidden2">
                    <a href="https://kizora.com/" target="_blank"><span>Kizora</span></a>
                    <ul class="list">
                        <li class="skill-list">Python</li>
                        <li class="skill-list">Android Studio</li>
                        <li class="skill-list">TensorFlow</li>
                        <li class="skill-list">YOLO</li>
                        <li class="skill-list">YOLO</li>
                        <li class="skill-list">Media Pipe</li>
                        <li class="skill-list">Open 3D</li>
                    </ul>
                    <article>
                        Collaborated to create a web application using TensorFlow, Media Pipe, and
                        Angular for the user interface.
                        Played a role in the development of an Android application using TensorFlow
                        Lite.

                    </article>
                </div>
            </div>

            <div class="card3" [ngClass]="{'hide-component':!isScrolled2900, 'show-component':isScrolled2900}">
                <img src="..\assets\images\persistent.png" alt="Image">
                <h1>Persistent Systems</h1>
                <h3>Nagpur, India (Remote)</h3>
                <div class="hidden3">
                    <a href="https://www.persistent.com/" target="_blank"><span>Persistent</span></a>
                    <ul class="list">
                        <li class="skill-list">Java</li>
                        <li class="skill-list">MySQL</li>
                        <li class="skill-list">Linux</li>
                        <li class="skill-list">Shell Scripting</li>
                    </ul>
                    <article>
                        Learned various technologies like Linux, Shell Scripting and worked with Java, Python, C++ and MySQL.
                    </article>
                </div>
            </div>

            <div class="card4" [ngClass]="{'hide-component':!isScrolled3100, 'show-component':isScrolled3100}">
                <img src="..\assets\images\ksi.png" alt="Image">
                <h1>Knoweldge Solutions India</h1>
                <h3>Nagpur, India (Remote)</h3>
                <div class="hidden4">
                    <a href="#"><span>Knoweldge Solutions India</span></a>
                    <ul class="list">
                        <li class="skill-list">Python</li>
                        <li class="skill-list">Machine Learning</li>
                        <li class="skill-list">Deep Learning</li>
                        <li class="skill-list">Scikit-Learn</li>
                        <li class="skill-list">Pandas</li>
                        <li class="skill-list">Numpy</li>
                        <li class="skill-list">Matplotlib</li>
                    </ul>
                    <article>
                        A machine learning based internship, worked on various ML libraries like pandas, numpy, scikit-learn and matplotlib.
                    </article>
                </div>
            </div>
        </div>
    </div>